/*=============================================
=CARDS
=============================================*/
.o-list--cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @include rem(padding, ($space-xlarge + 2) 0);

  &.offers {
    .m-card {
      width: 100%;
      display: block;
      color: $clr-black;

      @include MQ(MD) {
        width: 48.5%;
        @include rem(margin-bottom, $space-large + 1);
      }

      &:hover {
        .m-card__actions {
          opacity: 1;
        }
      }
    }

    .m-card__icon {
      @include rem(width, 60px);
    }

    .m-card__content {
      // @include reme(height, 200px);
      @include rem(font-size, 12px);
    }

    .m-card__actions {
      opacity: 0;
      position: absolute;
      bottom: 0;
      right: 40px;
      text-align: right;
      transform: translateY(50%);
      transition: opacity $animate-quick ease-in;
    }
  }

  .m-card {
    width: 48%;
    @include rem(padding, 20px 40px);
    @include rem(margin-bottom, $space-xlarge);
    text-align: left;

    .m-card__title {
      @include rem(font-size, 20px);
      letter-spacing: 0;
      @include rem(margin-top, $space);
    }

    .m-card__icon {
      display: block;
      @include rem(margin, $space-large 0);
    }

    .m-card__content {
      @include rem(margin, $space-large 0);
    }
  }
}