/*=============================================
=LIST icon and content
=============================================*/
.o-list--icons {
  @include reset-list();
  @include rem(padding, ($space-xlarge + 2) 0);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;

  .o-list {

    &__item {
      width: calc((100% / 3) - #{$space-xlarge - 1});
      display: flex;
      flex-direction: column;
      @include rem(margin-bottom, $space-large);
      padding: 0;
    }

    &__icon {
      @include rem(width, 42px);
      @include rem(height, 42px);
      display: block;
    }

    &__title {
      margin-bottom: 0;
    }
  }

  &.jobs {

    padding-bottom: 0;

    @include MQ(XS) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .o-list__item {
      display: inline-block;
      align-items: flex-start;
      @include rem(margin-bottom, $space-xlarge);

      @include MQ(XS) {
        width: 100%;
        text-align: center;
      }

      &:nth-last-child(-n+3) {
        margin-bottom: 0;
      }
    }

    .o-list__title {
      padding: 5px 0;
      @include rem(margin, 0 0 $space 0);
      position: relative;
      display: inline-flex;
      width: auto;

      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 20px;
        height: 2px;
        background-color: $clr-black;

        @include MQ(XS) {
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}