.Form-wrapper {
  margin: 0 auto;
}

.Form__contact {
  position: relative;
  z-index: 10;

  display: flex;
  overflow: hidden;

  transform: translateY(15%);

  //border-radius: 6px;
  background-color: $clr-white;
  box-shadow: 0 0 30px $clr-shadow;

  &-left {
    position: relative;

    display: flex;
    align-items: flex-end;

    color: $clr-white;
    background-color: $clr-blue;
    background-image: url(../images/contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    @include rem(padding, 20px 30px);
    

    &:after {
      position: absolute;
      z-index: 0;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      content: '';

      background: linear-gradient(bottom, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.10) 60%);
    }

    ul {
      position: relative;
      z-index: 5;

      margin: 0;
      padding: 0;
    }

    li {
      display: flex;
      align-items: center;

      list-style-type: none;

      font-size: 14px;
      line-height: 1.4;

      @include rem(margin-bottom, 20px);
      
      &:hover {
        color: $clr-coral;
      }
    }

    a {
      color: $clr-white;
    }

    i {
      line-height: 1;

      @include rem(font-size, 18px);
    }
  }

  &-right {
    display: flex;
    flex-direction: column;

    

    label {
      display: flex;
      align-items: center;

      i {
        line-height: 1;

        @include rem(font-size, 16px);
      }
    }
  }

  .Form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    input,
    select,
    textarea {
      border: none;
    }

    input {
      position: relative;

      display: block;

      border-bottom: 1px solid rgba($clr-black, 0.5);

      &:focus {
        outline: none;

        & ~ .bar {
          transform: scaleX(1);

          background-color: $clr-coral;
        }
      }

      &:focus ~ label {
        transform: translateY(-50%);

        opacity: 1;
        color: $clr-coral;
      }

      &:valid ~ label {
        transform: translateY(-50%);

        opacity: 1;
        color: $clr-coral;
      }
    }

    label {
      position: absolute;
      top: 0;

      transition: transform .450s ease;
      transform: translateY(50%);
      pointer-events: none;

      opacity: 0.5;
    }

    .bar {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;

      height: 2px;

      transition: transform .500s cubic-bezier(0.175, 0.885, 0.32, 1.175);
      transform: scaleX(0);
      transform-origin: 0 100%;

      background-color: transparent;
    }

    input,
    select {
      @include rem(height, 40px);
    }

    select {
      position: relative;

      border-bottom: 1px solid $clr-black;
      border-radius: 0;
      outline: none;
      background-color: transparent;

      appearance: none;
    }
    

    &__group-button {
      display: flex;
      justify-content: flex-end;

      width: 100%;
    }

    &__group {
      position: relative;

      display: flex;
      flex-direction: column;

      @include rem(margin, 30px 0);

      &.select {
        i {
          position: absolute;
          top: 50%;
          right: 0;

          transform: translateY(-50%);
          pointer-events: none;

          line-height: 1;
        }
      }

      &-textarea {
        position: relative;

        display: flex;
        flex-direction: column;

        width: 100%;        

        label {
          position: absolute;

          transform: translateY(0);
        }

        textarea {
          resize: none;

          border-bottom: 1px solid $clr-black;
          outline: none;

          @include rem(height, 100px);

          &:focus ~ label {
            transform: translateY(-100%);

            opacity: 1;
            color: $clr-coral;
          }

          &:focus {
            outline: none;
    
            & ~ .bar {
              transform: scaleX(1);

              background-color: $clr-coral;
            }
          }
        }
      }
    }
  }
}