/*=============================================
=LINK BUTTON
=============================================*/
.a-link-button {
  font-family: $font-family-heading;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: inherit;
  text-decoration: none;
}