/*=============================================
=VARIABLES
=============================================*/



/**
 *
 * Colors
 *
 */

/* Flat */
$clr-blue: #192d42;
$clr-purple: #411644;
$purple-light: #796da0;
$purple-dark: $clr-purple;

$clr-coral-lighten: #BF465C;
$clr-coral: #FF5D7B;
$clr-coral-darken: #E5546F;


$clr-salmon: #FF9A8B;
$clr-salmon-darken: #E58B7D;


$clr-black-light: #d1d1d1;
$clr-black-lighten: #e8e8e8;
$clr-black: #000;
$clr-gray: #484848;

$clr-white: #FFFFFF;

/* Gradients */
$grad-purple: ( 0:#411644, 50%:#321752);
$grad-coral: ( 0:$clr-salmon, 50%:$clr-coral);

/* Shadow */
$clr-shadow: rgba(0,0,0, 0.08);

/* Feedback colors */
$clr-informative: #ebd00b;
$clr-success: lime;
$clr-error: red;

$clr-link: #7D9CF6;
$clr-main: #f9f9f9;




/**
 *
 * Typography
 *
 */

 /* Font faces */
 $typefaces: (
  'gilroy-extrabold': (
    family: 'gil-xtra',
    weight: 700,
    style: normal
  ),
  'gilroy-light': (
    family: 'gil-light',
    weight: 300,
    style: normal
  ),
  'jam-icons': (
    family: 'jam-icons',
    weight: normal,
    style: normal
  )
);

/* Font Family */
$font-family-sans-fallback: 'Arial', sans-serif;
$font-family-sans: 'Open Sans', 'Helvetica Neue', 'Helvetica', $font-family-sans-fallback;
$font-family-serif: 'Merriweather', 'Georgia', 'Cambria', 'Times New Roman', 'Times', serif;
$font-family-heading: 'gil-xtra';
$font-family-display: $font-family-sans;
$font-family-default: $font-family-sans;

/* Font sizes */
$font-size-base: 14px;
$font-size-xsmall: $font-size-base / 1.5;
$font-size-small: $font-size-base / 1.2;
$font-size-normal: $font-size-base;
$font-size-large: $font-size-base * 1.5;
$font-size-xlarge: $font-size-base * 2.5;
$font-size-xxlarge: $font-size-base * 3;





/**
 *
 * Animations
 *
 */


$animate-quick: 0.2s;
$animate-normal: 0.650s;
$animate-slow: 2s;




/**
 *
 * Forms
 *
 */
$input-size: 40px;
$checkbox-size: 24px;
$radio-size: 24px;




/**
 *
 * Borders
 *
 */
$border-radius: 6px;
$border-radius-md: 20px;
$border-radius-btn: 100px;




/**
 *
 * Spacing & Padding
 *
 */
$space: 1rem;
$space-small: $space / 2;
$space-large: $space * 2;
$space-xlarge: $space * 4;
$space-xxlarge: $space * 15;





/**
 *
 * Components size
 *
 */
$navbar-height: 60px;



/**
 *
 * Icons sizes
 *
 */
$icon-menu-size: 54px;
$icon-mouse-width: null;
$icon-mouse-height: null;


 /**
 *
 * Layouts size
 *
 */
 $container-MD: 1000px;
 $container-XL: 1600px;

 $max-width: unquote(calc(90 * (14px / 1.7))); // 90 characters per line



 /**
  *
  * Z-index
  *
  */

 $zindex: (
   overlay: 20,
   navbar: 15,
   menu: 10,
   mask: 5,
   main: 2,
   zero: 0,
   under: -1
 );
