/*=============================================
=SPINNER - THREE BOUNCE
=============================================*/

/**
*
*  <div class="a-spinner--three-bounce">
*    <span class="a-spinner__item a-spinner__item--one"></span>
*    <span class="a-spinner__item a-spinner__item--two"></span>
*   <span class="a-spinner__item a-spinner__item--three"></span>
*  </div>
*
*/

.a-spinner--three-bounce {
  display: inline-block;
  position: relative;

  .a-spinner__item {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    @include rem(margin-right, $space-small);
    background-color: $clr-white;
    animation: three-bounce 1.4s ease-in-out 0s infinite both;

    &--one {
      animation-delay: -0.32s;
    }

    &--two {
      animation-delay: -0.32s / 2;
    }

    &:last-child { margin-right: 0; }
  }
}