/*=============================================
=INPUT RADIO
=============================================*/
input[type="radio"] {
  appearance: none;
  @include rem(width, $radio-size);
  @include rem(height, $radio-size);
  @include rem(line-height, $radio-size);
  border: 2px solid $clr-primary;
  border-radius: 100%;
  outline: none;
  cursor: pointer;
  position: relative;
  transition: all $animate-quick;
  text-align: center;

  &:after {
    content: '';
    display: block;
    top: 50%;
    left: 50%;
    width: calc(90% - 2px);
    height: calc(90% - 2px);
    position: absolute;
    border-radius: 100%;
    background-color: transparent;
    transition: background $animate-quick;
    transform: translateX(-50%) translateY(-50%);
  }

  &:hover {
    border-color: $clr-primary;
  }

  &:checked {
    border-color: $clr-primary;
    animation: pulse $animate-normal;
    &:after {
      background-color: $clr-primary;
    }
  }
}