/*=============================================
=SEARCH
=============================================*/
.a-search-wrapper {
  display: block;
  position: relative;

  &:after {
    content: '\e0cc';
    font-family: "jam-icons";
    position: absolute;
    @include rem(width, $input-height);
    @include rem(line-height, $input-height);
    @include rem(font-size, $font-size-small);
    top: 0;
    pointer-events: none;
    text-align: right;
    right: 0;
    color: $clr-primary;
  }
}