.a-filter {
  position: relative;
  z-index: map-get($zindex, normal);

  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: map-get($zindex, mask);
    opacity: 0.90;
  }

  &--purple {
    @extend .a-filter;

    &:after {
      /* Overlay: */
      background-image: linear-gradient(90deg, #421745 0%, #7A6EA0 100%);
    }
  }

  &--coral {
    @extend .a-filter;

    &:after {
      background: linear-gradient(135deg, map-get($gradient-1, 0) 0%, map-get($gradient-1, 50%) 50%);
    }
  }

  &--black {
    @extend .a-filter;

    &:after {
      opacity: 1;
      background: linear-gradient(to top, $clr-primary 0%, transparent 55%);
    }
  }

  &--dark {
    @extend .a-filter;

    &:after {
      opacity: 0.5;
      background-color: $clr-primary;
    }
  }

  &--grayscale {
    filter: grayscale(1);
  }
}
