.a-wrapper {
  @include rem(padding, ($space-xlarge + 2) 0);

  @include MQ(SM) {
    @include rem(padding, ($space-xlarge) 0);
  }

  &--white {
    @extend .a-wrapper;
    background-color: $clr-white;
  }

  &--dark {
    @extend .a-wrapper;
    background-color: $clr-blue;
    color: $clr-white;
  }
}
