/*=============================================
=HERO
=============================================*/
.m-hero {
  width: 100%;
  height: 100vh;
  pointer-events: none;
  // Hero background
  @include background-full();

  &__content {
    display: flex;
    text-align: center;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $clr-white;
    position: relative;
    z-index: map-get($zindex, mask) + 1;
    transition: transform $animate-quick linear;
    text-shadow: 0 2px 3px $clr-shadow;
  }

  &__title {
    width: 100%;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 15px;
    margin-left: 15px;

    @include rem(font-size, $font-size-large + 12);

    @include MQ(XS) {
      @include rem(font-size, $font-size-large + 6);
      margin-left: 0;
    }

    &--medium {
      @include rem(margin-top, $space);
    }

  }

  &__subtitle {
    width: 100%;
    font-family: $font-family-sans;
    line-height: inherit;
    letter-spacing: 0;
    @include rem(font-size, 16px);
    line-height: 1.7;
    font-weight: 400;
    margin: 0 auto;

    @include MQ(XS) {
      @include rem(font-size, 14px);
      max-width: 90%;
    }

    @include MQ(SM) {
      max-width: 70%;
    }

    @include MQ(MD) {
      max-width: 52%;
    }

    @include MQ(XL) {
      max-width: 30%;
    }
  }

  &__scroll {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 5%;
  }
}
