.Video {
  position: relative;
  display: block;

  &__wrapper {
    position: relative;
    cursor: pointer;
    // overflow: hidden;
    // @include rem(height, 500px);
    // @include rem(margin-top, $space-xlarge);
    background-color: transparent;

    @include MQ(XS) {
      height: 40vh;
    }

    @include MQ(MD) {
      margin-left: -5vw;
      margin-right: -5vw;
      // @include rem(margin-top, $space-xlarge);
      // @include rem(margin-bottom, $space-xlarge);
    }
  }

  &__spinner {
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: map-get($zindex, mask);
    position: absolute;
    opacity: 0;
  }

  &.is-playing {
    .iframe-video {
      display: block;
    }


    .Video__icon-player {
      opacity: 0;
      pointer-events: none;
    }
  }

  video {
    display: block; 
    width: 100%; 
    position: relative;
    pointer-events: none;
  }

  &__icon-player {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: map-get($zindex, mask) + 2;
    top: 0; left: 0;
    bottom: 0; right: 0;
    background-color: transparent;

    .icon-player {
      animation: player 2s infinite;
    }
  }
}

.iframe-video {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: map-get($zindex, main);
  // opacity: 0;
  cursor: pointer;
  transition: display $animate-quick linear;
}

@keyframes player {
  0% {
    box-shadow: 0 0 0 0 rgba($clr-coral, 0.8);
  }
  70% {
      box-shadow: 0 0 0 20px rgba($clr-coral, 0);
  }
  100% {
      box-shadow: 0 0 0 0 rgba($clr-coral, 0);
  }
}
