/*=============================================
=FORM GROUP
=============================================*/
.m-group-field,
.m-group-textarea,
.m-group-buttons {
  // @include rem(padding, 0 $space-large);
  @include rem(margin-bottom, $space-large);
}

.m-group-field {
  position: relative;
}

.m-group-textarea {
  position: relative;
}

.m-group-buttons {
  &--left {
    text-align: left;
    justify-content: flex-start
  }

  &--center {
    text-align: center;
    justify-content: center;
  }

  &--right {
    text-align: right;
    justify-content: flex-end;
  }
}