/*=============================================
=PAGINATION
=============================================*/
.m-pagination {
  @include reset-list();
  display: flex;
  align-items: center;

  &__item {
    @include rem(margin, 0 $space-small);

    &:hover {
      font-weight: 700;
    }

    &--active {
      font-weight: 700;
      transform: scale(1.5);
      color: $clr-coral;
    }
  }

  &__nav {
    line-height: 1;
    
    &--left {
      @include rem(margin-right, $space);
    }
    &--right {
      @include rem(margin-left, $space);
    }
  }

  &__link {
    color: inherit;
    
    &:hover {
      text-decoration: none;
    }
  }
}