/*=============================================
=SOCIAL MENU
=============================================*/
.m-social-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  @include reset-list();

  @include MQ(MD) {
    justify-content: flex-start;
  }

  li,
  &__item {
    @include rem(width, 30px);
    @include rem(height, 30px);
    @include rem(line-height, 30px);
    text-align: center;
    // overflow: hidden;
    display: inline-block;
    position: relative;
    color: $clr-white;
    @include rem(font-size, $font-size-large + 3);
    @include rem(margin-top, $space);
    @include rem(margin-right, $space-large);
    
    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: $clr-coral;
    }
  }

  a,
  &__link {
    color: inherit;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @include hide-text();

    &:hover {
      text-decoration: none;
    }
  }
}