.sg-stretchy-nav {

  display: block;
  position: fixed;
  right: 2%;
  z-index: 10;
  top: 50%;
  z-index: 2;
  padding: 60px 0;
  opacity: 0;
  text-align: right;
  transition: all 750ms;
  transform: translateX(50%);

  @include MQ(XS) {
    display: none;
  }

  &.is-visible {
    transform: translateX(0%);
    opacity: 1;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
  }

  a {
    position: relative;
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0 calc(1em + 60px) 0 1em;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.4rem;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    transition: color 0.2s;

    &.active {
      &:before {
        background-color: $clr-white;
      }
    }

    &:before {
      content: '';
      position: absolute;
      width: 3px;
      height: 100%;
      top: 50%;
      right: 60px;
      transform: translateX(3px) translateY(-50%);
      background-color: transparent;
      z-index: 10;
    }
  }

  &__bg {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: $clr-coral;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    -webkit-transition: height 0.2s, box-shadow 0.2s;
    -moz-transition: height 0.2s, box-shadow 0.2s;
    transition: height 0.2s, box-shadow 0.2s;
    height: 100%;
  }

  .icon {
    position: absolute;
    z-index: 5;
    top: 50%;
    right: 0;
    width: 30px;
    height: 30px;
    transform: translateX(-50%) translatey(-50%);
  }
}
