h1,
h2,
h3,
h4,
h5 {
  @include rem(margin, $space-large 0 $space 0);
  font-family: $font-family-heading;
  color: inherit;
}


h1 {
  @include rem(font-size, 30px);
  line-height: 1.2;
}

h2 {
  font-family: $font-family-heading;
  @include rem(font-size, 24px);
  @include rem(margin, $space 0);
  line-height: 1.2;
}

h3 {
  font-family: $font-family-heading;
  @include rem(font-size, 20px);
}

h4 {
  @include rem(font-size, 18px);
}

/* Hero */
.a-hero-title {
  text-transform: uppercase;
  letter-spacing: 10px;
  font-family: $font-family-heading;

  &--sm {
    @extend .a-hero-title;
    @include rem(font-size, 24px);
  }

  &--md {
    @extend .a-hero-title;
    @include rem(font-size, 32px);
  }
}


.a-hero-subtitle {
  @include rem(font-size, 16px);
}

.a-title--border {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    
    height: 3px;
    bottom: -8px;
    width: 20px;
    background-color: $clr-primary;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;

    @include MQ(MD) {
      left: 0;
      transform: none;
    }

    
  }
}
