/*=============================================
=CAROUSEL like card
=============================================*/
.o-carousel--card {
  @include rem(padding, ($space-xlarge + 2) 0);

  .o-carousel {
    &__item {
      display: flex;
      width: 100%;
      align-items: center;
      height: 450px;
      background-color: $clr-white;

      @include MQ(XS) {
        height: 60vh;
      }
    }

    &__image {
      flex: 1;
      width: 45%;
      height: 100%;
      @include background-full();
    }

    &__content {
      position: static;
      color: $clr-black;
      text-align: left;
      flex: 1;
      @include rem(padding, $space $space-xlarge);

      @include MQ(XS) {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color: $clr-white;
        text-align: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        background-color: red;
        @include rem(padding, $space $space-large);
        background: linear-gradient(to top, $clr-black 0%, transparent 55%);
      }
    }

    &__title {
      margin: 0;
    }

    @include MQ(XS) {
      &__description,
      &__title {
        text-shadow: 0 2px 2px rgba($clr-black, 0.3);
      }
    }
    
  }

  // override owl-carousel 
  .owl-stage-outer {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      // background-color: $clr-main;
      z-index: map-get($zindex, mask) + 1;
      left: -100%;
      //background: linear-gradient(to right, rgba($clr-black, 0.9) 0%, transparent 100%);
    }

    @include MQ(MD) {
      overflow: visible !important;
    }
    
  }
  
  .owl-dots {
    @include rem(margin-top, $space-large);
  }

  .owl-nav {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 50%;
    transform: translateY(-100%);

    @include MQ(MD) {
      left: -80px;
      right: -80px;
    }
  }

  .owl-item {
    transition: filter $animate-normal linear;
    filter: grayscale(1);

    &.active {
      filter: grayscale(0);
      box-shadow: 0 0 10px $clr-shadow;
    }
  }

  .owl-prev,
  .owl-next {
    background-color: transparent !important;
  }
}