/*=============================================
=COLORS
=============================================*/

$clr-primary: #0000FF;
$clr-secondary: #00FF00;
$clr-text: #333;
$clr-link: #00FFCC;
$clr-shadow: #222;

// Gradients
$gradient-1: (to: red, from: lime);
$gradient-2: (to: yellow, from: purple);

// Feedback
$clr-success: lime;
$clr-error: red;
