/*=============================================
=FORMS
=============================================*/

// Input
$input-height: 40px;
$input-border-size: 2px;

// Radio buttons
$radio-size: 30px;
$radio-border-size: 2px;

// Checkbox
$checkbox-size: 30px;
$checkbox-border-size: 2px;
