/*=============================================
=HOME PAGE
=============================================*/
.t-home {

  &__section-title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
    @include rem(margin, $space-xlarge 0);
    position: relative;

    &:after {
      content: attr(data-step);
      text-transform: uppercase;
      @include rem(font-size, 120px);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      right: 0;
      text-align: center;
      letter-spacing: 20px;
      opacity: 0.05;
    }
  }
}