/*=============================================
=MESSAGE ALERT (feedback)
=============================================*/
.m-feedback {
  @include rem(padding, $space);

  &--error {
    background-color: $clr-error;
    color: $clr-white;
  }

  &--success {
    background-color: $clr-success;
    color: $clr-white;
  }

  &--informative {
    background-color: $clr-informative;
    color: $clr-black;
  }
}