/*=============================================
=BASE
=============================================*/
html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: $font-family-sans;
  line-height: 1.7;
  font-weight: 400;
  background: #FFF;
  overflow-x: hidden;
  text-size-adjust: 100%;
  @include rem(font-size, $font-size-base);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: $clr-text;
}

* {
  box-sizing: border-box;
}

*::-webkit-scrollbar-track{
  background-color: transparent;
}

*::-webkit-scrollbar {
  width: 2px;
}

*::-webkit-scrollbar-thumb {
	background-color: #b3b3b3;
}
