/*=============================================
=FOOTER
=============================================*/
.o-footer {
  position: relative;
  background-color: $clr-blue;
  z-index: map-get($zindex, main);

  &__section-title {
    @include rem(margin-top, $space);
    @include rem(font-size, $font-size-large);
  }

  @include MQ(MD) {
    .first-child {
      flex: 2;
    }
  }

  &__wrapper {

    @include rem(padding, $space-xlarge 0);

    @include MQ(SM) {
      @include rem(padding, ($space-xlarge + 2) 0);
    }

    @include MQ(MD) {
      @include rem(padding, ($space-xlarge + 5) 0);
    }
    
    background-color: rgba($clr-black, 0.1);
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    color: $clr-white;
    @include rem(font-size, $font-size-normal - 1);

    @include MQ(XS) {
      flex-direction: column;
      @include rem(font-size, $font-size-normal);
    }

    @include MQ(SM) {
      padding: 0;
    }

    & > section {
      flex: 1;
      // opacity: 0.5;
      color: rgba($clr-white, 0.2);

      @include MQ(XS) {
        @include rem(margin-bottom, $space-large);
      }

      @include MQ(MD) {
        width: 25%;
        @include rem(padding, 0 $space-large);
      }
    }

    ul {
      @include reset-list();
    }
  }

  a {
    color: inherit;
    display: block;
    @include rem(margin-bottom, $space-small);

    &:hover {
      color: $clr-coral;
    }
  }

  address {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;

    i {
      margin-right: 10px;
      line-height: 0.7;
    }

    @include MQ(MD) {
      justify-content: flex-start;
    }
    a { 
      color: rgba($clr-white, 0.2);

      @include rem(margin-bottom, $space);

      @include MQ(XS) {
        display: inline-flex;
        align-items: center;
        @include rem(margin, $space 0);
      }
      
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .menu-item {
    @include MQ(XS) {
      @include rem(margin, $space 0);
    }
  }

  .m-social-nav {

    @include MQ(XS) {
      justify-content: flex-start;
    }

    li {
      color: inherit;
      text-align: left;
      @include rem(font-size, ($font-size-xlarge - 5));
      @include rem(margin-right, $space-large);

      &:hover { color: $clr-coral; }

      @include MQ(XS) {
        @include rem(margin, $space-large $space-xlarge $space-large 0);
      }
    }
  }

  .form-newsletter {
    .a-text-field__input {
      @include rem(margin-top, 0);
      @include rem(padding-left, $space);
      @include rem(padding-right, $space);
      background-color: rgba($clr-black, 0.1);
      border-color: transparent;
      color: $clr-white;
  
      &:focus {
        border-bottom-color: $clr-coral;
      }
  
      @include placeholder{
        font-style: italic;
        color: $clr-white;
        opacity: 0.2;
      };
    }
  }

  &__address {
    a { 
      display: block;
      text-decoration: none; 
      @include rem(margin-bottom, $space-small);
    }
  }

  .a-brand-logo--footer {
    @include rem(margin-bottom, $space-large);
  }
}