/*=============================================
=MODAL
=============================================*/
.o-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($clr-black, 0.5);
  transform: translateY(100%);
  z-index: map-get($zindex, overlay);
  transition: transform 500ms linear;

  @include MQ(XS) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .o-modal__close {
    position: absolute;
    top: 10%;
    right: 10%;
    z-index: map-get($zindex, overlay) + 2;
  }

  &--profil {
    @extend .o-modal;

    &.is-visible {
      transform: translateY(0);
    }

    .o-modal__container {
      width: 90%;
      display: flex;
      flex-direction: column;
      padding: $space-large;
      background-color: $clr-white;
      box-shadow: 0 0 10px $clr-shadow;
      overflow-y: auto;

      @include MQ(MD) {
        width: 100%;
        height: 100vh;
        padding: $space-large 20%;
        justify-content: center;
        max-height: none;
      }

      @include MQ(XS) {
        width: 90%;
        height: 80%;
        overflow-x: hidden;
        overflow-y: auto;
      }
    }

    // Detail profil
    .profil {
      &-job {

        font-family: $font-family-heading;
        @include rem(font-size, $font-size-small);
        text-transform: uppercase;
        text-align: center;
        color: $clr-black;
        letter-spacing: 2px;
      }

      &-name {
        text-align: center;
        position: relative;
        margin-bottom: 0;
        line-height: 1;
      }

      &-name-watermark {
        opacity: 0.03;
        font-size: 80px;
        text-transform: uppercase;
        letter-spacing: 20px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        text-align: center;
      }

      &-description {
        @include rem(margin, $space-large 0);
        @include rem(padding, 0 $space-xlarge);
      }

      &-citation {
        text-align: center;
        display: block;
        @include rem(margin, $space-large 0);
        font-weight: 400;
      }
    }
  }
}
