/*=============================================
=TIMELINE HORIZONTAL
=============================================*/
.Timeline {
  position: relative;
  background-color: $clr-blue;
  @include rem(padding, $space-xxlarge 0);

  &:before {
    position: absolute;
    z-index: 0;
    @include rem(top, $space-xlarge);
    @include rem(bottom, $space-xlarge);
    left: 50%;
    width: 3px;
    content: "";
    transform: translateX(-50%);
    background-color: lighten($clr-blue, 5%);
  }

  
  &:after{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    @include rem(height, 100px);
    content: '';
  }

  &__year {
    position: relative;
    color: $clr-white;
    text-align: center;
    @include rem(width, 200px);
    @include rem(height, 200px);
    @include rem(line-height, 200px);
    @include rem(margin, $space-xlarge auto);
    letter-spacing: 10px;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      z-index: map-get($zindex, under);
    }
  }

  &__item {
    // display: none;
    position: relative;
    z-index: 2;
    width: 100%;
    color: $clr-white;
    @include rem(margin, $space-xlarge 0);

    &:before {
      position: absolute;
      content: "";
      @include rem(top, 10px);
      @include rem(width, 10px);
      @include rem(height, 10px);
      animation: pulseTimeline 3s reverse infinite;
      border-radius:50%;
      background-color: $clr-coral;

      @include MQ(XS) {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    @include MQ(XS) {
      width: 90%;
      @include rem(margin-top, $space-xlarge + 2);
      @include rem(margin-bottom, $space-xlarge + 2);
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      background-color: $clr-blue;
      @include rem(padding, $space-large 0);
    }

    @include MQ(SM) {
      width: 50%;

      &.left {
        float: left;
        padding-right: 3%;
        padding-left: 5%;
        text-align: right;

        &:before {
          right: 0%;
          transform: translateX(50%);
        }
      }
  
      &.right {
        float: right;
        padding-right: 5%;
        padding-left: 3%;
        text-align: left;
  
        &:before {
          left: 0%;
          transform: translateX(-50%);
        }
      }
    }

    @include MQ(MD) {
      width: 50%;
      @include rem(margin, $space-xlarge 0);

      &:before {
        position: absolute;
        content: "";
        @include rem(top, 10px);
        @include rem(width, 10px);
        @include rem(height, 10px);
        animation: pulseTimeline 3s reverse infinite;
        border-radius:50%;
        background-color: $clr-coral;
      }

      &.left {
        float: left;
        padding-right: 3%;
        padding-left: 20%;
        text-align: right;

        &:before {
          right: 0%;
          transform: translateX(50%);
        }
      }
  
      &.right {
        float: right;
        padding-right: 20%;
        padding-left: 3%;
        text-align: left;
  
        &:before {
          left: 0%;
          transform: translateX(-50%);
        }
      }
    }

    &-month {
      margin: 0;
      text-transform: capitalize;
      color: $clr-coral;
    }

    .a-image--rounded {
      box-shadow: 0 0 20px rgba($clr-black, 0.3);
    }

    p {
      margin: 0;
    }
  }
}